* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lora:wght@400;700&display=swap');

:root {
    --primary-color: #002244;  /* Azul Marino */
    --secondary-color: #D4AF37; /* Dorado */
    --background-color: #FFFFFF; /* Blanco */
    --text-color: #333333; /* Gris oscuro para mejor lectura */
}

body {
    font-family: 'Lora', serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    color: var(--primary-color);
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

.contenedor {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60em;
}

.carrusel-container {
    width: 100%;
    overflow: hidden;
    background: white;
    position: relative;
    display: flex;
    margin-top: 6em;
}

.carrusel {
    display: flex;
    width: 600%;
    animation: desplazar 15s linear infinite;
}

.carrusel img {
    height: 60em;
    margin-right: 0px;
}

.contenedorGris {
    position: absolute;
    width: 70em;
    height: 14em;
    border-radius: 250px;
    background-color: lightslategray;
    opacity: 0.8;
    left: 50em;
    top: 45em;
}

.inputBody {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.search-box {
    left: 34em;
    position: relative;
    width: 300px;
    top: -10em;
}

.search-box input {
    width: 100%;
    padding: 17px 75px 11px 120px;
    font-size: 30px;
    border: 3px solid #ccc;
    border-radius: 25px;
    outline: none;
    transition: 0.3s;
}

.search-box input:focus {
    border-color: #007bff;
}

.search-box .search-icon {
    position: absolute;
    top: 30%;
    right: 10px;
    transform: translateX(517%);
    width: 30px;
    height: 30px;
    background: url('https://cdn-icons-png.flaticon.com/512/622/622669.png') no-repeat center;
    background-size: cover;
    pointer-events: none;
}

@keyframes desplazar {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-80%);
    }
}

.img-container {
    height: 500px;
    background-image: url('../img/tropical-view-from-under-a-palm-tree.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.img-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.planes {
    position: relative;
    text-align: center;
    z-index: 2;
    color: #00285b;
}

.planes h1 {
    padding: 1em;
    font-size: 40px;
    z-index: 3;
    position: relative;
}

.planes p {
    font-size: 20px;
    margin-top: -10px;
    z-index: 3;
    position: relative;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    position: relative;
    z-index: 4;
    margin-top: 100px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    height: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.card-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card h2 {
    font-size: 20px;
    color: #00285b;
    margin-top: 40px;
    margin-bottom: 15px;
}

.card p {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
    max-height: 60em;
}

@media (max-width: 768px) {
    .img-container {
        height: 65em; 
        background-image: url('../img/tropical-view-from-under-a-palm-tree.jpg');
    }

    .planes h1 {
        font-size: 32px;
    }

    .planes p {
        font-size: 18px;
        margin-top: 0;
    }

    .cards-container {
        gap: 50px;
        margin-top: 50px;
        flex-wrap: wrap;
    }

    .card {
        width: 250px;
        height: auto;
    }
}

@media (max-width: 480px) {
    .img-container {
        height: 57em;
        width: 100%;
        background-image: url('../img/tropical-view-from-under-a-palm-tree.jpg');
    }

    .planes h1 {
        font-size: 24px;
    }

    .planes p {
        font-size: 14px;
    }

    .cards-container {
        gap: 40px;
        margin-top: 50px;
    }

    .card {
        width: 200px;
    }
}
