* {
    padding: 0;
    margin: 0;
}

.contenedor {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60em;
}

.carrusel-container {
    width: 100%;
    overflow: hidden;
    background: white;
    position: relative;
    display: flex;
}

.carrusel {
    display: flex;
    width: 600%;
    /* Doble del ancho para el efecto de loop */
    animation: desplazar 15s linear infinite;
}

.carrusel img {
    height: 60em;
    /* Ajusta el tamaño de las imágenes */
    margin-right: 0px;
    /* Espacio entre imágenes */
}

.contenedorGris {
    position: absolute;
    width: 70em;
    height: 14em;
    border-radius: 250px;
    background-color: lightslategray;
    opacity: 0.8;
    left: 50em;
    top: 45em;
}





.inputBody {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.search-box {
    left: 34em;
    position: relative;
    width: 300px;
    top: 2em;
}

.search-box input {
    width: 100%;
    padding: 17px 75px 11px 120px;
    font-size: 30px;
    border: 3px solid #ccc;
    border-radius: 25px;
    outline: none;
    transition: 0.3s;
}

.search-box input:focus {
    border-color: #007bff;
}

.search-box .search-icon {
    position: absolute;
    top: 30%;
    right: 10px;
    transform: translateX(517%);
    width: 30px;
    height: 30px;
    background: url('https://cdn-icons-png.flaticon.com/512/622/622669.png') no-repeat center;
    background-size: cover;
    pointer-events: none;
}








@keyframes desplazar {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-80%);
    }


}